<div class="card">
    <div class="card-body">
        <h1>Esta es una aplicacion</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quas 
            laudantium consequuntur error debitis incidunt, quis, mollitia magni
             eum, ipsum eligendi voluptate! Dignissimos quisquam tempore porro quia 
             magni adipisci 
            facilis nostrum incidunt laborum, esse aut magnam nisi 
            eaque quibusdam sunt!

        </p>
    </div>
</div>