<div class="jumbotron mt-4">
    <h1 class="display-4">Notes app Nodejs and Mongo db</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <hr class="my-4"></hr>
    <p>Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Laborum saepe rerum obcaecati. 
        Quos earum numquam, fuga aperiam accusamus quidem animi 
        molestiae labore quas sapiente, harum nemo nulla deleniti 
        voluptates tenetur.</p>
    <a href="" class="btn btn-primary btn-lg ">Comenzar</a>
    

</div>